@import url('https://fonts.googleapis.com/css2?family=Inter:wght@800&family=Jacques+Francois&family=Noto+Sans+Thai:wght@300&display=swap');

* html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body{
    /* border: 1px solid red; */
    background-color: #000000;
    position: relative;
    min-height: 100vh;
  
    width: auto;
    height: auto;
  } 

.WrapLogo{
  position: absolute;
  display: flex;
  justify-content: space-between;
  padding-top: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;

}


.LogoS2{
  width: 157px;
  height: 75px;
  background-repeat: no-repeat;
background-image: url("data:image/svg+xml,%3Csvg id='Layer_4' data-name='Layer 4' xmlns='http://www.w3.org/2000/svg'  viewBox='0 0 40 20'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:%23d8ba88;%7D%3C/style%3E%3C/defs%3E%3Ctitle%3Etest_resize4%3C/title%3E%3Cpath class='cls-1' d='M7.3477,13.4781h-.17V11.3434h.17q.3164,1.7768,1.85,1.7763a1.3609,1.3609,0,0,0,.8847-.2851.8992.8992,0,0,0,.3526-.7334,1.13,1.13,0,0,0-.5176-.9q-1.2239-.7134-2.0117-1.23a1.5676,1.5676,0,0,1-.7876-1.3643,1.5038,1.5038,0,0,1,.5254-1.1684A1.8758,1.8758,0,0,1,8.94,6.9688a2.5866,2.5866,0,0,1,1.05.2437,1.1177,1.1177,0,0,0,.3653.1147q.2394,0,.3164-.3584h.17V9.1212h-.17a2.1234,2.1234,0,0,0-.624-1.3682,1.6512,1.6512,0,0,0-1.0972-.4155,1.16,1.16,0,0,0-.7769.2764.8549.8549,0,0,0-.3252.6762.9224.9224,0,0,0,.2207.5479,4.9821,4.9821,0,0,0,1.33.8877c.4541.2441.7984.4433,1.0322.6006a1.99,1.99,0,0,1,.586.6088,1.4952,1.4952,0,0,1,.2348.8116,1.5745,1.5745,0,0,1-.5649,1.2373,2.0422,2.0422,0,0,1-1.3926.4941,3.6717,3.6717,0,0,1-1.1094-.2187,2.1554,2.1554,0,0,0-.5595-.1358C7.4751,13.1236,7.3828,13.2418,7.3477,13.4781Z' transform='translate(-2.2203 -0.9488)'/%3E%3Cpath class='cls-1' d='M18.4424,13.3355H15.9878v-.17c.4219-.0215.6328-.1474.6328-.38a1.9133,1.9133,0,0,0-.1846-.64l-.3755-.8936H13.6514l-.4243.9805a1.521,1.521,0,0,0-.1529.543q0,.3369.72.39v.17H11.833v-.17a1.242,1.242,0,0,0,.5264-.1933,2.717,2.717,0,0,0,.4956-.8819l2.19-5.1216h.16l2.166,5.1773a2.6647,2.6647,0,0,0,.4346.7666.9106.9106,0,0,0,.6362.2529Zm-2.51-2.4238L14.875,8.398l-1.0811,2.5137Z' transform='translate(-2.2203 -0.9488)'/%3E%3Cpath class='cls-1' d='M24.0859,11.6461l-.5322,1.6894H18.7349v-.17h.2329a.5985.5985,0,0,0,.5283-.2,1.4092,1.4092,0,0,0,.1357-.7353V8.2135q0-.6219-.1757-.7769a.7147.7147,0,0,0-.4883-.1548h-.2329v-.17h2.8188v.17a2.1382,2.1382,0,0,0-.62.0728.5774.5774,0,0,0-.3267.2212,1.708,1.708,0,0,0-.0957.7422V12.23q0,.4688.1358.5888a1.597,1.597,0,0,0,.8237.12h.4551a4.38,4.38,0,0,0,.8691-.0665,1.1949,1.1949,0,0,0,.5947-.3388,2.8243,2.8243,0,0,0,.5469-.919Z' transform='translate(-2.2203 -0.9488)'/%3E%3Cpath class='cls-1' d='M29.8115,11.774l-.5351,1.5615H24.4785v-.17h.2227a.6891.6891,0,0,0,.499-.167,1.1279,1.1279,0,0,0,.1719-.7588V8.1964q0-.6329-.167-.7739a.7676.7676,0,0,0-.5039-.1407h-.2227v-.17h4.7979l.0693,1.3628H29.165a1.4731,1.4731,0,0,0-.35-.8271,1.3655,1.3655,0,0,0-.8564-.1949H26.252V9.91h1.3662a1.3005,1.3005,0,0,0,.7138-.1562c.1573-.1045.2451-.3535.2666-.7481h.167v2.1666h-.167q-.06-.6285-.3144-.7769a1.3221,1.3221,0,0,0-.666-.1484H26.252v2.0522a1.1333,1.1333,0,0,0,.09.5684q.0907.1273.4248.1269h1.0527a2.0922,2.0922,0,0,0,1.0245-.209,2.4469,2.4469,0,0,0,.7871-1.0117Z' transform='translate(-2.2203 -0.9488)'/%3E%3Cpath class='cls-1' d='M38.1875,13.3355H35.5449v-.17h.22a.7407.7407,0,0,0,.4756-.1465q.1847-.1464.1846-.7617V8.0987l-2.3994,5.2368H33.873L31.4668,8.0987v4.1587q0,.6153.17.7617a.7387.7387,0,0,0,.4942.1465H32.35v.17h-2.166v-.17h.22a.7456.7456,0,0,0,.4727-.1465q.1875-.1464.1875-.7617V8.1891a1.1939,1.1939,0,0,0-.1563-.6954q-.1567-.2116-.7236-.2119v-.17h1.7627l2.2568,4.8716,2.2217-4.8716h1.7627v.17h-.2158a.7433.7433,0,0,0-.4756.148q-.189.1471-.1885.7593v4.0683c0,.4063.0576.6582.1729.7578a.7208.7208,0,0,0,.4912.15h.2158Z' transform='translate(-2.2203 -0.9488)'/%3E%3Cpath class='cls-1' d='M17.7744,17.5357H16.623v-.084a.7506.7506,0,0,0,.2745-.0322.2315.2315,0,0,0,.0888-.0771,1.02,1.02,0,0,0,.03-.3448V15.3453a2.1864,2.1864,0,0,0-.03-.459.14.14,0,0,0-.1494-.1084.6078.6078,0,0,0-.2324.0694l-.0342-.0694.7432-.3642h.0752v2.5839a1.9918,1.9918,0,0,0,.0136.2959.174.174,0,0,0,.08.11.6159.6159,0,0,0,.292.0478Z' transform='translate(-2.2203 -0.9488)'/%3E%3Cpath class='cls-1' d='M20.41,14.4137v.0839a1.5446,1.5446,0,0,0-1.3653,1.3311,1.1382,1.1382,0,0,1,.6524-.2236.6617.6617,0,0,1,.57.2812,1.045,1.045,0,0,1,.2021.6211,1.2511,1.2511,0,0,1-.2509.7256.8281.8281,0,0,1-.7217.3574.7746.7746,0,0,1-.4825-.165,1.1573,1.1573,0,0,1-.3466-.4522,1.5215,1.5215,0,0,1-.1309-.6367,1.8776,1.8776,0,0,1,.5508-1.3555,1.6469,1.6469,0,0,1,1.19-.5673Zm-1.4034,1.5791a3.87,3.87,0,0,0-.041.4922,1.5269,1.5269,0,0,0,.0742.4931.9021.9021,0,0,0,.212.3506.4369.4369,0,0,0,.3125.1357.4188.4188,0,0,0,.37-.2119.9235.9235,0,0,0,.1338-.5009,1.3662,1.3662,0,0,0-.1543-.6749.4789.4789,0,0,0-.4336-.2753A1.0211,1.0211,0,0,0,19.0068,15.9928Z' transform='translate(-2.2203 -0.9488)'/%3E%3Cpath class='cls-1' d='M20.8936,17.5992v-.084a1.1845,1.1845,0,0,0,.87-.3984,2.0021,2.0021,0,0,0,.4922-.9229,1.2079,1.2079,0,0,1-.6407.2276.6991.6991,0,0,1-.5654-.2627.9824.9824,0,0,1-.2178-.6485,1.1749,1.1749,0,0,1,.27-.7656.8442.8442,0,0,1,.6845-.331.825.825,0,0,1,.459.14,1.12,1.12,0,0,1,.3643.4375,1.4783,1.4783,0,0,1,.1523.6856,1.8615,1.8615,0,0,1-.5537,1.3652,1.656,1.656,0,0,1-1.1855.5576Zm1.4394-2.042a1.63,1.63,0,0,0-.0693-.499.888.888,0,0,0-.209-.3555.4337.4337,0,0,0-.3184-.1426.4124.4124,0,0,0-.372.2081.9406.9406,0,0,0-.1309.51,1.2886,1.2886,0,0,0,.1582.6807.4636.4636,0,0,0,.4043.2578.761.761,0,0,0,.4961-.1895A3.5887,3.5887,0,0,0,22.333,15.5572Z' transform='translate(-2.2203 -0.9488)'/%3E%3Cpath class='cls-1' d='M25.0791,16.9459l-.2148.59H23.06v-.084a7.2638,7.2638,0,0,0,1.1435-1.22,1.5306,1.5306,0,0,0,.3018-.8086.7427.7427,0,0,0-.1572-.456.5283.5283,0,0,0-.4483-.209.67.67,0,0,0-.67.52h-.082q.1171-.8643.872-.8642a.8832.8832,0,0,1,.6162.2324.7427.7427,0,0,1,.2559.57,1.2888,1.2888,0,0,1-.1631.5781,3.9447,3.9447,0,0,1-.623.8115c-.3067.3291-.4951.5264-.5664.59h.8a1.7864,1.7864,0,0,0,.3945-.0371.413.413,0,0,0,.2617-.2129Z' transform='translate(-2.2203 -0.9488)'/%3E%3Cpath class='cls-1' d='M18.016,6.2389A7.1962,7.1962,0,1,0,6,14.1606a7.34,7.34,0,0,0,5.2515,3.2043,8.2005,8.2005,0,0,1-8.99-7.2987A8.3242,8.3242,0,0,1,9.56.9874,8.2231,8.2231,0,0,1,18.016,6.2389Z' transform='translate(-2.2203 -0.9488)'/%3E%3C/svg%3E");
}

.LogoH2{
  width: 41px;
  height: 41px;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 17.99 18'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:%23d8ba88;%7D%3C/style%3E%3C/defs%3E%3Ctitle%3EH-logo%3C/title%3E%3Ccircle class='cls-1' cx='9' cy='6.33' r='3.66'/%3E%3Cpath class='cls-1' d='M10.2.5a9,9,0,1,0,9,9A9,9,0,0,0,10.2.5Zm5.95,14.24A5.67,5.67,0,0,0,14.66,12c-1.28-1.09-1.8-1.41-2.22-1.4a19.79,19.79,0,0,1-2.24.65A5,5,0,0,1,8,10.61c-.86-.27-2.56,1.45-2.91,2a7.19,7.19,0,0,0-.77,2.21,7.93,7.93,0,1,1,11.8-.12Z' transform='translate(-1.2 -0.5)'/%3E%3C/svg%3E");
}


.Content2 {
    /* border: 1px solid red; */

    background-image:url('./images/white coif3 1.jpg');
    background-color: #000000;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
  }



.input-p1 > input[type="text"]
{
    color: #FFFFFF;
}

.tm {
    padding-top: 20rem;
    padding-bottom: 2rem;
    padding-left: 2rem;
  
    color: aliceblue;
    font-family: 'Noto Sans Thai', sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 1.5rem;
    color: #FFFFFF;
  
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  
  }

.input-p1{
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .input-p1 > input{
    display: block;
    border: none;
    background: transparent;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
    text-align: center;
    font-family: 'Noto Sans Thai', sans-serif;
    font-size: 1.3rem;
    font-style: normal;
    width: 100%;
  }

  .input-p1 > button{
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    display: block;
    border: none;
    background: #D8BA88;
    font-family: 'Noto Sans Thai', sans-serif;
    font-weight: 900;
    font-size: 14px;
    line-height: 17px;
    padding: 0.7rem 3rem 0.7rem 3rem;
    border-radius: 19px;
  }

  .BodyG{
    height: 10rem;
    background: #FEF4E2;
    border-radius: 3rem 3rem  0 0;
    text-align: center;
    position: relative;
  
  }

  .BtG{
    width: 17rem;
    height: 6rem;
    margin-top: 2rem;
    border: none;
    color: #FFFFFF;
    font-family: 'Jacques Francois', serif;
    font-size: 2rem;
    background-image:url('./images/Rectangle 7.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 24px;
  
  }
  
  .foot1{
    background-color: #000000;
    /* min-height: 100vh; */
    width: auto;
/*   
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2rem;  */
  
  }
  
  .foot1 > div > p{
  
    font-size: large;
    color: #FFFFFF;
  }
  
  .cf1{ 
    display: flex;
    justify-content: space-between;
    font-family: 'Inter', sans-serif;
    padding: 2rem;
    font-weight: 900;
    max-height: 100%;
  }
  
  .seet1{
    color: #FFFFFF;
    font-weight: 100;
  }
  
  .copy1{
    /* padding-top: 1.5rem;
    padding-bottom: 1rem; */
    text-align: center;
    color: #7c7c7c;
    /* position: absolute;
    bottom: 0; */
  }

  @media screen and (min-width :480px){
  /* .foot1{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2rem; 
  } */

  .bg3{
    min-height: 67vh;
  }

  .LogoS2{
    width: 300px;
    height: 150px;
  
  }

  .LogoH2{
    width: 80px;
    height: 80px;
  }

  .BodyG{
    height: 16rem;
    background: #FEF4E2;
    border-radius: 3rem 3rem  0 0;
    text-align: center;
    position: relative;
  
  }
/* Bug */
  .BodyG > button{

    height: 50%;
    margin-top: 5rem;
    width: 80vw;
  }

  .BtG{
    width: 80%;
    height: 9rem;
    margin-top: 4rem; 
  }
/*  */
  .wrapping{
    padding-top: 20vh;
  }
  .tm{
    font-size: 2rem;
  }  
  
 

}

@media screen and (min-height :900px){
  .bg3{
    min-height: 67vh;
  }


}

/* /////////////////MemberPage//////////// */

/* html, 
body, 
#background { 
  width: 100vw;
  min-height: 100vh;
  background-image:url('./images/bgMember.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
} */

.bg1{
  width: 100vw;
  min-height: 100vh;
  background-image:url('./images/bgMember.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.wrappMem{
  padding-top: 3rem;
  text-align: center;
}

.St1{
  padding-top: 2rem;
  text-align: center;
  font-family: 'Noto Sans Thai', sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 1.5rem;
  color: #FFFFFF;
}

.St2{
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  text-align: center;
  font-family: 'Noto Sans Thai', sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 1.5rem;
  color: #D8BA88;
  border-bottom: 1px solid white; 
}

.Wst{
  padding-left: 2rem;
  padding-right: 2rem;
}

.List-group{
  padding-left: 2rem;
  padding-right: 2rem;
}

.Wf2{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #FFFFFF;
}



.Ws2{
  padding-left: 1.5rem;
  display: inline-flex;
}

.im2{
  background-image:url('./images/H-log2.jpg');
  background-color: #000000;
  background-size: cover;
  background-repeat: no-repeat;
  width: 20px;
  height: 100%;
}


.tm2{
  padding-left: 2rem;
  font-size: 1.7rem;
  color: #FEF4E2;
}

.Wf2 > button{
  margin-right: 1.5rem;
  width: 53px;
  height: 25px;
  border: none;
  color: #FFFFFF;
  font-size: 1.1rem;
  background: #FF3838;
  font-family: 'Noto Sans Thai', sans-serif;
  font-style: normal;
  font-weight: 500;
  border-radius: 0.5rem;
}



/* //////////////////////////////////Bodygrad3///////////////////////////// */

.bgAll3{
  min-height: 100vh;
  background-color: #ffffff;
}

.bg3{
  min-width: 100vw;
  background-image:url('./images/bg3.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.WrapLogo3{
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
}

.Logo3{
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 40.46 19.04'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:%23fff;%7D%3C/style%3E%3C/defs%3E%3Ctitle%3Etest2%3C/title%3E%3Cpath class='cls-1' d='M5.73,14.37H5.51V12.06h.22A1.93,1.93,0,0,0,7.78,14a1.63,1.63,0,0,0,1-.31,1,1,0,0,0,.4-.8,1.21,1.21,0,0,0-.59-1c-.92-.52-1.67-1-2.26-1.33A1.72,1.72,0,0,1,5.44,9,1.58,1.58,0,0,1,6,7.84a2.22,2.22,0,0,1,1.46-.51,3.1,3.1,0,0,1,1.24.26,1.48,1.48,0,0,0,.41.12c.18,0,.3-.12.35-.38h.14V9.66H9.44a2.21,2.21,0,0,0-.71-1.48,2,2,0,0,0-1.24-.45,1.32,1.32,0,0,0-.87.3.91.91,0,0,0-.37.73,1,1,0,0,0,.25.59,5.62,5.62,0,0,0,1.5,1c.51.27.9.48,1.16.65a2.08,2.08,0,0,1,.66.66,1.55,1.55,0,0,1,.27.88,1.7,1.7,0,0,1-.64,1.34,2.35,2.35,0,0,1-1.57.53,4.06,4.06,0,0,1-1.25-.23A2.72,2.72,0,0,0,6,14C5.84,14,5.73,14.12,5.73,14.37Z' transform='translate(0 0)'/%3E%3Cpath class='cls-1' d='M18.19,14.22H15.43V14c.47,0,.71-.16.71-.41a2.18,2.18,0,0,0-.21-.7l-.42-1H12.8L12.32,13a1.69,1.69,0,0,0-.17.58c0,.25.27.39.81.43v.18H10.73V14a1.55,1.55,0,0,0,.59-.21,2.9,2.9,0,0,0,.56-1l2.47-5.54h.18L17,13a2.8,2.8,0,0,0,.49.83,1,1,0,0,0,.71.28ZM15.37,11.6,14.18,8.87,13,11.6Z' transform='translate(0 0)'/%3E%3Cpath class='cls-1' d='M24.55,12.39,24,14.22H18.52V14h.26a.68.68,0,0,0,.6-.22,1.57,1.57,0,0,0,.15-.8V8.67c0-.44-.06-.72-.2-.84a.83.83,0,0,0-.55-.16h-.26V7.48h3.21v.19a2.35,2.35,0,0,0-.7.08.7.7,0,0,0-.4.2,1.87,1.87,0,0,0-.11.81V13c0,.34.05.55.16.64a1.82,1.82,0,0,0,.92.13h.52a4.81,4.81,0,0,0,1-.07,1.42,1.42,0,0,0,.61-.34,3.2,3.2,0,0,0,.61-1Z' transform='translate(0 0)'/%3E%3Cpath class='cls-1' d='M31,12.53l-.61,1.69H25V14h.25a.73.73,0,0,0,.56-.19A1.14,1.14,0,0,0,26,13V8.66c0-.46-.07-.74-.19-.84a1,1,0,0,0-.57-.15H25V7.48h5.4L30.47,9h-.2a1.52,1.52,0,0,0-.4-.9,1.59,1.59,0,0,0-1-.21H27V10.5h1.54a1.47,1.47,0,0,0,.8-.17q.27-.16.3-.81h.19v2.35h-.19q-.06-.69-.36-.84a1.46,1.46,0,0,0-.74-.16H27v2.22a1.16,1.16,0,0,0,.1.61c.07.1.23.14.48.14h1.16a2.56,2.56,0,0,0,1.16-.22,2.87,2.87,0,0,0,.88-1.1Z' transform='translate(0 0)'/%3E%3Cpath class='cls-1' d='M40.43,14.22h-3V14h.3a.88.88,0,0,0,.54-.16c.13-.11.2-.38.2-.83V8.55l-2.74,5.67h-.17l-2.7-5.67v4.5c0,.45.06.72.19.83a.92.92,0,0,0,.56.16h.24v.18H31.42V14h.24a.83.83,0,0,0,.53-.16c.15-.11.22-.38.22-.83V8.65a1.22,1.22,0,0,0-.18-.7c-.12-.16-.39-.23-.81-.23V7.48h2L36,12.76l2.5-5.28h2v.19h-.24a.88.88,0,0,0-.54.16c-.14.1-.21.38-.21.82v4.4c0,.44.06.72.19.82a.86.86,0,0,0,.56.17h.24Z' transform='translate(0 0)'/%3E%3Cpath class='cls-1' d='M17.45,19H16.11v-.09a.86.86,0,0,0,.32,0,.22.22,0,0,0,.1-.09V16.6a2,2,0,0,0,0-.49.15.15,0,0,0-.17-.12.83.83,0,0,0-.27.07V16L17,15.6H17v2.78a1.71,1.71,0,0,0,0,.32.16.16,0,0,0,.09.12.78.78,0,0,0,.34.05Z' transform='translate(0 0)'/%3E%3Cpath class='cls-1' d='M20.52,15.6v.09a1.75,1.75,0,0,0-1.59,1.43,1.37,1.37,0,0,1,.76-.24.8.8,0,0,1,.66.3,1.1,1.1,0,0,1,.24.67,1.24,1.24,0,0,1-.3.78,1,1,0,0,1-1.4.21h0a1.35,1.35,0,0,1-.4-.49,1.57,1.57,0,0,1-.15-.68A1.92,1.92,0,0,1,19,16.21a2,2,0,0,1,1.38-.61Zm-1.63,1.7a3.07,3.07,0,0,0-.05.53,1.89,1.89,0,0,0,.08.53,1,1,0,0,0,.25.38.54.54,0,0,0,.36.14.47.47,0,0,0,.43-.23.83.83,0,0,0,.16-.53,1.32,1.32,0,0,0-.18-.73.56.56,0,0,0-.5-.3A1.19,1.19,0,0,0,18.89,17.3Z' transform='translate(0 0)'/%3E%3Cpath class='cls-1' d='M21.08,19V19a1.43,1.43,0,0,0,1-.43,2.05,2.05,0,0,0,.57-1,1.51,1.51,0,0,1-.74.24.84.84,0,0,1-.66-.28,1,1,0,0,1-.25-.7,1.26,1.26,0,0,1,.31-.83,1,1,0,0,1,.8-.35,1,1,0,0,1,.53.15,1.29,1.29,0,0,1,.43.47,1.58,1.58,0,0,1,.17.74,1.91,1.91,0,0,1-.64,1.47,2,2,0,0,1-1.38.6Zm1.65-2.2a1.42,1.42,0,0,0-.08-.54.87.87,0,0,0-.22-.34.51.51,0,0,0-.37-.15.47.47,0,0,0-.43.22,1.06,1.06,0,0,0-.15.55,1.32,1.32,0,0,0,.18.73.53.53,0,0,0,.47.28.94.94,0,0,0,.58-.21A3.25,3.25,0,0,0,22.73,16.83Z' transform='translate(0 0)'/%3E%3Cpath class='cls-1' d='M26,18.33l-.22.62h-2.1v-.09A8.68,8.68,0,0,0,25,17.55a1.66,1.66,0,0,0,.35-.88.8.8,0,0,0-.18-.49.64.64,0,0,0-.52-.22.76.76,0,0,0-.78.56h-.1a1,1,0,0,1,1-.93,1,1,0,0,1,.71.25.76.76,0,0,1,.3.61,1.25,1.25,0,0,1-.19.62,4.33,4.33,0,0,1-.72.88c-.36.35-.58.57-.66.63h.93a1.77,1.77,0,0,0,.46,0,.46.46,0,0,0,.3-.22Z' transform='translate(0 0)'/%3E%3Cpath class='cls-1' d='M17.84,5.89a8.1,8.1,0,1,0-7.65,12.52A9.23,9.23,0,1,1,17.84,5.89Z' transform='translate(0 0)'/%3E%3C/svg%3E");
}

.WrapText3{
  padding-top: 6rem;
  padding-left: 2rem;
}

.WrapText3 > h1{
  font-size: 3rem;
  font-family: 'Jacques Francois', serif;
  font-style: normal;
  font-weight: 500;
  color: #D8BA88;
}

.WrapText3 > p{
  font-size: 1.5rem;
  font-family: 'Noto Sans Thai', sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #ffffff;
}

.WrappInput{
  padding-top: 3rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 4rem;
}

.WrappInput > input{
  display: block;
  border: none;
  background: transparent;
  border-bottom: 1px solid white;
  border-top: 1px solid white;
  text-align: center;
  font-family: 'Noto Sans Thai', sans-serif;
  font-size: 1.3rem;
  font-style: normal;
  width: 100%;
}

.WrappInput > input[type="text"]
{
    color: #FFFFFF;
}

.WrappInput > button{
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  display: block;
  border: none;
  background: #D8BA88;
  font-family: 'Noto Sans Thai', sans-serif;
  font-weight: 900;
  font-size: 14px;
  line-height: 17px;
  padding: 0.7rem 3rem 0.7rem 3rem;
  border-radius: 19px;
}

.WrapOutput {
  padding-top: 1rem;
  padding-left: 1rem;
}

.WrapOutput > h1{
  padding-top: 0.5rem;
  color: #000000;
  font-family: 'Noto Sans Thai', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  border-top: 1px solid black;
  display: inline-block;

}

.Output{
  padding-left: 1rem;
  padding-right: 2rem;

}

.OutM{
  display: flex;
  align-items: center;
  justify-content: space-between; 
  border-top: 1px solid black;
  padding-top: 0.5rem;
}

.OutIn{
 display: flex;
 align-items: center;
}

.OutIn > img {
  height: 100%;
}

.OutIn > p {
  padding-left: 1rem;
  font-size: 1.5rem;
  font-family: 'Noto Sans Thai', sans-serif;
  font-style: normal;
  font-weight: 900;
}

.OutM > button {
  width: 53px;
  height: 25px;
  border: none;
  color: #FFFFFF;
  font-size: 1rem;
  background: #FF3838;
  font-family: 'Noto Sans Thai', sans-serif;
  font-style: normal;
  font-weight: 500;
  border-radius: 0.5rem;
}

@media screen and (min-width :480px){



  .WrapOutput {
    padding-top: 2rem;
    padding-left: 2rem;
  }

  .WrapOutput > h1{
    font-size: 3rem;
  }

  .Output{
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .OutIn > img {
    width: 5rem;
    height: 100%;
  }

  .OutIn > p {
    font-size: 3rem;
  }
  
.OutM > button {
  width: 100px;
  height: 53px;
  font-size: 2rem;
}

.WrapText3 > h1{
  font-size: 5rem;
}

.WrapText3 > p{
  font-size: 2.5rem;
}

.Logo3{
  width: 200px;
  height: 100px;
}

}

.BtG:active{
  color: #000000;
}

.LogoH2:active{
  fill: #000000;
}


.Wf2 > button:active{

  background: #646464;

}

.OutM > button:active{

  background: #646464;

}